<div class="player-section">
  <div class="center-button">
  </div>

  <div class="market-place">
    {{#each players}}

        <div class="card">
        <div class="card-image">
          <img src="{{this.photo}}" alt="{{this.firstName}} {{this.lastName}}">
          <span class="card-title"><a href="/profiles/{{this.username}}">{{this.firstName}} {{this.lastName}}</a></span>
        </div>
        <div class="card-content">
          <p>{{this.bio}}</p>
        </div>
        <div class="card-action row">
          {{#if ../currentUser.mod}}
          <div class="admin-buttons">
            <!--Delete-->
            <div>
              <form method="POST" action="/players/delete/{{this._id}}">
                <button class="delete-button" type="submit"><i class="material-icons">delete</i></button>
              </form>

            </div>

            <a class="edit-button" href="players/{{this.username}}/edit"><i class="material-icons">edit</i></a>


            <!--Approve-->
            <form class="approveForm" id={{this._id}} method="POST" action="/players/{{this._id}}">
              <div class="form-group">
                <button class="approve-button" type="submit"><i class="material-icons">check</i></button>
              </div>
            </form>
          </div>
        {{/if}}

        </div>
      </div>




    {{/each}}


    

  </div>
</div>
