<div class="index-bar">
    <p>Our gamers are ready to learn more about your company and your vision!</p>
  </div>
<div class="market-place">



{{#each gamers}}
  {{!-- <div class="market-gamer-box">
    <img src="{{this.photo}}" />
    <div>Name: {{this.firstName}} {{this.lastName}}</div>
    <div>Bio: {{this.bio}}</div>
    <div>Location: {{this.location}}</div>
    <a href="/profiles/{{this.username}}">Learn More</a>
  </div> --}}
        <div class="card">
        <div class="card-image">
          <img src="{{this.photo}}" alt="{{this.firstName}} {{this.lastName}}">
          <span class="card-title">{{this.firstName}} {{this.lastName}}</span>
        </div>
        <div class="card-content">
          <p>{{this.bio}}</p>
          <p>Location: {{this.location}}</p>
        </div>
        <div class="card-action">
          <a href="/profiles/{{this.username}}">Learn More</a>
        </div>
      </div>





{{/each}}




</div>