  <title>OnSiteGamers | {{this.firstName}} {{this.lastName}}</title>
  <div class="profile-page">


<h3 align="center">{{profile.username}}</h3>


<div class="profile-container">
  {{#if sameUser}}
    <form method="POST" action="/profiles/{{profile.username}}">
    <img src="{{profile.photo}}" />

    <div>
      Photo: 
      <input name="photo" placeholder="photo url" value="{{profile.photo}}" />
    </div>


    <div>
      Name: 
      <input name="firstName" placeholder="First name" value="{{profile.firstName}}" /> <input name="lastName" placeholder="Last name" value="{{profile.lastName}}" />
    </div>

    <div>
      Bio: 
      <input name="bio" placeholder="Bio" value="{{profile.bio}}" />
    </div>

    <div>
      Contact: 
      <input name="contact" placeholder="contact" value="{{profile.contact}}" />
    </div>

    <div>
      Location: 
      <input name="location" placeholder="location" value="{{profile.location}}" />
    </div>

    <input type="submit" value="Save" />
    </form>

  {{else}}
    <img src="{{profile.photo}}" />
    <div>Name: {{profile.firstName}} {{profile.lastName}}</div>
    <div>Bio: {{profile.bio}}</div>
    <div>Contact: {{profile.contact}}</div>
    <div>Location: {{profile.location}}</div>

  {{/if}}
</div>



  </div>
  
  




